

.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  h1 {
    color:#348feb;
    font-size: 3.5rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
}

h2 {
    color:#348feb;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

p {
  color: #66bfbf;
  font-size: 1.5 rem;
  font-family:"Montserrat", sans-serif ;
}